html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.white-texts:visited {
  color: #fff;
}
.white-texts {
  color: #fff;
}
.logo {
  width: 40%;
  height: 100%; }

.opt {
  border-bottom: 5px solid;
  border-bottom-color: #4abdac;
  height: 100%;
  padding: 30px 15px 25px 15px;
}

.opt:hover {
  background-color: #3ea797;
  border-bottom-color: #f7b733; }


.slide-field {
  width: 100%;
  height: 500px; }

.where {
  width: 100%;
  max-width: 100%;
  height: 400px;
  max-height: 100%;
  padding-top: 50px;;
}

.foo {
  width: 100%;
  height: auto;
  color: #fff;
  padding: 20px;
}

.bg-fresh {
  background-color: #4abdac; }

.bg-vermillion {
  background-color: #fc4d1a; }

.bg-sunshine {
  background-color: #f7b733; }

.bg-clean {
  background-color: #dfdce3; }

.comments {
  width: 100%;
  height: auto;
  background-color: #4abdac;
}
.each-c {
  margin: 0 auto;
  width: 70%;
  text-align: center;
  padding:30px;
  background-color: #fc4d1a;
  border-radius: 10px;
}
