html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.opt {
  border-bottom: 5px solid;
  border-bottom-color: #03a9f4;
  height: 100%;
  padding: 30px 15px 25px 15px;
}

.opt:hover {

  border-bottom-color: #ff5722;
 }


.white-texts:visited {
  color: #fff;
}
.white-texts {
  color: #fff;
}
.logo {
  width: 40%;
  height: 100%; }



.slide-field {
  width: 100%;
  height: 500px; }

.where {
  width: 100%;
  max-width: 100%;
  height: 400px;
  max-height: 100%;
  padding-top: 50px;;
}

.foo {
  width: 100%;
  height: auto;
  color: #fff;
  padding: 20px;
}

.bg-deep-orange {
  background-color: #ff5722;
}

.bg-dark-blue {
  background-color: #0288d1; }

.bg-light-blue {
  background-color: #03a9f4;
}
.bg-very-light-blue {
  background-color: #b3e5fc;
}
.primary-text {
  background-color: #212121;
}
.secondary-text {
  background-color: #757575;
}
.divider-color {
  background-color: #BDBDBD;
}

.comments {
  width: 100%;
  height: auto;
  background-color: #4abdac;
}


@media (min-width: 300px) {
  .each-c {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    padding:30px;
    background-color: #fc4d1a;
    border-radius: 10px;
  }
}


@media (min-width: 768px) {

  .each-c {
    margin: 0 auto;
    width: 70%;
    text-align: center;
    padding:30px;
    background-color: #fc4d1a;
    border-radius: 10px;
  }
}

/* Sweep To Top */
.hvr-sweep-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0288d1;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
  color: white;
}
.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}
