@media only screen and (max-width: 760px) {
	#carousel {
	position: relative;
	width:100%;
	height: auto;
	margin:0 auto;
	}

	#slides {
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	width: 90%;
	height: auto;
	background-color: dimgrey;
	}

	#slides ul {
	list-style: none;
	width:100%;
	height:auto;
	margin: 0;
	padding: 0;
	position: relative;
	}

	 #slides li {
	width:100%;
	height:auto;
	float:left;
	text-align: center;
	position: relative;
	font-family:lato, sans-serif;
	}
	/* Styling for prev and next buttons */
	.btn-bar{
	    max-width: 346px;
	    margin: 0 auto;
	    display: inline-block;
	    position: relative;
	    top: 40px;
	    width: 100%;
	}

	 #buttons {
	padding:0 0 5px 0;
	float:right;
	}

	#buttons a {
	text-align:center;
	display:inline-block;
	font-size:50px;
	float:left;
	outline:0;
	margin:0 60px;
	color:#f1f1f1;
	text-decoration:none;
	padding:9px;
	width:35px;
	}

	a#prev:hover, a#next:hover {
	color:#3daff9;
	text-shadow:.5px 0px #2faaf9;
	}

	.quote-phrase, .quote-author {
	font-family:sans-serif;
	font-weight:300;
	display: table-cell;
	vertical-align: middle;
	padding: 5px 20px;
	font-family:'Lato', Calibri, Arial, sans-serif;
	}

	.quote-phrase {
	height: 200px;
	font-size:24px;
	color:#FFF;
	font-style:italic;
	text-shadow:.5px 0px #b14943;
	}

	.quote-marks {
	font-size:30px;
	padding:0 3px 3px;
	position:inherit;
	}

	.quote-author {
	font-style:normal;
	font-size:20px;
	color:#b14943;
	font-weight:400;
	height: 30px;
	}

	.quoteContainer, .authorContainer {
	display: table;
	width: 100%;
	}

}
@media only screen and (min-width: 761px) {
#carousel {
position: relative;
width:60%;
margin:0 auto;
}

#slides {
overflow: hidden;
position: relative;
width: 100%;
height: 300px;
background-color: dimgrey;
border-radius: 5px;
}

#slides ul {
list-style: none;
width:100%;
height:300px;
margin: 0;
padding: 0;
position: relative;
}

 #slides li {
width:100%;
height:300px;
float:left;
text-align: center;
position: relative;
font-family:lato, sans-serif;
}
/* Styling for prev and next buttons */

.btn-bar{
		max-width: 200px;
		margin: 0 auto !important;
		display: flex;
		width: 100%;
}

#buttons {
	padding:0 0 5px 0;
	bottom:0;
	position: absolute;
	margin: -20px auto;
	text-align: center;
}

#buttons a {
text-align:center;
display:inline-block;
font-size:50px;
outline:0;
margin:0 30px;
color:white;
text-decoration:none;
padding:9px;
width:35px;
}

a#prev:hover, a#next:hover {
color:#ff852d;
text-shadow:.5px 0px #b14943;
}

.quote-phrase, .quote-author {
font-family:sans-serif;
font-weight:300;
display: table-cell;
vertical-align: middle;
padding: 5px 20px;
font-family:'Lato', Calibri, Arial, sans-serif;
}

.quote-phrase {
height: 200px;
font-size:24px;
color:#FFF;
font-style:italic;
text-shadow:.5px 0px #b14943;
}

.quote-marks {
font-size:30px;
padding:0 3px 3px;
position:inherit;
}

.quote-author {
font-style:normal;
font-size:20px;
color:#4b96d4;
font-weight:400;
height: 30px;
}

.quoteContainer, .authorContainer {
display: table;
width: 100%;
}
}
