/*! http://responsiveslides.com v1.55 by @viljamis */

.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	max-width: 100%;
	max-height: 723px;
	padding: 0;
	margin: 0 0 0 0;
	background-color: rgb(68, 68, 68);
}
.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}
.rslides li:first-child {
	position: relative;
	display: block;
	float: left;
}
.rslides img {
	display: block;
	height: auto;
	float: left;
	width: 100%;
	max-height: 100%;
	border: 0;
	opacity: 0.4;
}
@media only screen and (max-width: 760px) {
	#slider1 {
		display: none;
	}
	.rslides {
		display: none;
	}
	.rslides li {
		display: none;
	}
	.rslides li:first-child {
		display: none;
	}
	.rslides img {
		display: none;
	}
}
