<section class="slider">
  <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:980px;height:380px;overflow:hidden;visibility:hidden;">
      <!-- Loading Screen -->
      <div data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
          <%= image_tag("spin.svg", :alt => "rss feed", style: "margin-top:-19px;position:relative;top:50%;width:38px;height:38px;") %>
      </div>
      <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:980px;height:380px;overflow:hidden;">
          <div>
              <%= image_tag("001.jpg", :alt => "rss feed") %>
              <div data-u="caption" data-t="0" style="position:absolute;top:320px;left:30px;width:350px;height:30px;z-index:0;background-color:rgba(255,188,5,0.8);font-size:20px;color:#ffffff;line-height:1.5;text-align:center;">mobile ready, touch swipe</div>
          </div>
          <div data-p="170.00">
              <%= image_tag("002.jpg", :alt => "rss feed") %>
              <div data-u="caption" data-t="1" data-3d="1" style="position:absolute;top:-50px;left:125px;width:350px;height:30px;z-index:0;background-color:rgba(255,188,5,0.8);font-size:20px;color:#ffffff;line-height:1.5;text-align:center;">time lined layer animation</div>
          </div>
          <div>
              <%= image_tag("003.jpg", :alt => "rss feed") %>
              <div data-u="caption" data-t="2" style="position:absolute;top:30px;left:-380px;width:350px;height:30px;z-index:0;background-color:rgba(255,188,5,0.8);font-size:20px;color:#ffffff;line-height:1.5;text-align:center;">finger catchable right to left</div>
          </div>

          <a data-u="any" href="https://www.jssor.com" style="display:none">bootstrap slider</a>
      </div>
      <!-- Bullet Navigator -->
      <div data-u="navigator" class="jssorb052" style="position:absolute;bottom:12px;right:12px;" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75">
          <div data-u="prototype" class="i" style="width:16px;height:16px;">
              <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                  <circle class="b" cx="8000" cy="8000" r="5800"></circle>
              </svg>
          </div>
      </div>
      <!-- Arrow Navigator -->
      <div data-u="arrowleft" class="jssora053" style="width:55px;height:55px;top:0px;left:25px;" data-autocenter="2" data-scale="0.75" data-scale-left="0.75">
          <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
              <polyline class="a" points="11040,1920 4960,8000 11040,14080 "></polyline>
          </svg>
      </div>
      <div data-u="arrowright" class="jssora053" style="width:55px;height:55px;top:0px;right:25px;" data-autocenter="2" data-scale="0.75" data-scale-right="0.75">
          <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
              <polyline class="a" points="4960,1920 11040,8000 4960,14080 "></polyline>
          </svg>
      </div>
  </div>
</section>
