/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*, body {
  margin:0;
  padding: 0;
  font-family: sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3382bb;
  height: 120px;
  color: #fff;
}
li {
  float: right;
  color: white;
}
li:first-of-type {
  margin-right: 200px;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 50px 50px;
  text-decoration: none;
  font-size: 1.3em;
}
li a:hover {
  background-color: #246da2;
  border-bottom-style: solid;
  border-bottom-width: medium;
  border-bottom-color: rgb(251, 250, 89);
}
a:visited {
  color: white;
}
.h1 {
  font-size: 3em;
}
.logo {
  width: 30%;
  height: 100%;
  float: left;
  margin: 26px 0 0 100px;
  line-height: 35px;
  text-align: center;
}
