<!DOCTYPE html>
<html>
  <head>
    <title>Clinica</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <ul>
      <div class="logo"><h1 class="h1">Clínica Veterinária<br>Garibaldi</h1></div>
      <li><a href="">Sobre</a></li>
      <li><a href="">Agendamentos</a></li>
      <li><a href="">Inicial</a></li>
    </ul>
    
    <%= yield %>
  </body>
</html>
